#header
{
	background-image : url("images/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	height : 100vh;
}

#details
{
	background-color: rgba(26,198,255,0.5);
	text-align: center;
	position: relative; 
	top: 30vh;
	padding: 0px;
	margin: 0px auto;
	width: 50vh;
}
#title
{
	margin: 0px;
}
#gallery
{
	height: 80vh;
}

body
{
	padding: none;
	margin: 0px;
}
