@import url('https://fonts.googleapis.com/css?family=Arvo:700|Josefin+Slab:600|Kanit:100');
/*The header's background*/
#header
{
    	background-image : url("images/background.jpg");
    	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;

	height : 100vh;
}
/*Details for the header*/
#details
{	
	text-align: center;
	position: relative; 
	top: 10vh;
	padding: 0px;
	margin: 0px auto;
}
#description
{
	
	color: rgb(250,150,250);
	font-family: 'Kanit', sans-serif;
	font-size: 3.3vh;
	margin: 0px;
	
	text-align: center;
	position: sticky;
	top: 92vh;
}
#title
{
	font-family: 'Arvo', serif;
	text-align: center;

	color: white;
	font-size: 6vh;
	margin: 0px;
}
#subtitle
{
	font-family: 'Josefin Slab', serif;
	text-align: center;

	color: rgb(220,200,100);
	margin: 0px;
	font-size: 3.5vh;
}
#overlay
{
	background-color: rgba(25,25,70,0.55);
	height: 100vh;
	
}

/*Gallery part of the page*/
#gallery
{
	
	height: 90vh;
	background-image: url("images/gallery.png");
	border: 0px;
	margin-top: 2vh;
}

#dubai-container
{
	position : relative;
	width : 100%;
	display : grid;
	grid-template-columns: 256px 256px 256px 256px;
	grid-template-rows: 144px 144px;
	grid-gap: 4rem;
	
}
#dubai
{
	height: 30vh;	
}
#about
{
	height: 7vh;
	background-color: rgba(100,100,250,0.5);
	position: relative;
	top: 22vh;
}
	
/*General*/
body
{
	padding: none;
	margin: 0px;
	background: rgba(55, 40, 150, 0.5);
}
