@import url('https://fonts.googleapis.com/css?family=Arvo:700|Josefin+Slab:600');
#header
{
	background-image : url("images/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	height : 100vh;
}

#details
{	
	text-align: center;
	position: relative; 
	top: 40vh;
	padding: 0px;
	margin: 0px auto;
}
#title
{
	font-family: 'Arvo', serif;

	color: white;
	font-size: 7vh;
	margin: 0px;
}
#subtitle
{
	font-family: 'Josefin Slab', serif;
	color: rgb(150,200,200);
	margin: 0px;
	font-size: 4vh;
}
#gallery
{
	height: 90vh;
}
#overlay
{
	background-color: rgba(140,75,250,0.2);
	height: 100vh;
	
}
body
{
	padding: none;
	margin: 0px;
}
